<?xml version="1.0" encoding="UTF-8" ?>
<Events>
	<Event ID="EventT1">	 <!-- Tutorial 1 -->
		<MenuSet>MenuSetT1</MenuSet>
		<KitchenTimer>5</KitchenTimer>
		<CustomerSet>CustomerSet0T</CustomerSet>
		<CustomerTimer>2</CustomerTimer>
		<DayLength>27</DayLength>
		<Allergy>None</Allergy>
	</Event>
	<Event ID="EventT2">	 <!-- Tutorial 2 -->
		<MenuSet>MenuSet00</MenuSet>
		<KitchenTimer>5</KitchenTimer>
		<CustomerSet>CustomerSet00</CustomerSet>
		<CustomerTimer>2</CustomerTimer>
		<DayLength>72</DayLength>
		<Allergy>None</Allergy>
	</Event>
	<Event ID="Event00">
		<MenuSet>MenuSet00</MenuSet>
		<KitchenTimer>3</KitchenTimer>
		<CustomerSet>CustomerSet00</CustomerSet>
		<CustomerTimer>2</CustomerTimer>
		<DayLength>72</DayLength>
		<Allergy>Peanut</Allergy>
	</Event>
	<Event ID="Event01">
		<MenuSet>MenuSet00</MenuSet>
		<KitchenTimer>6.5</KitchenTimer>
		<CustomerSet>CustomerSet00</CustomerSet>
		<CustomerTimer>1</CustomerTimer>
		<DayLength>72</DayLength>
		<Allergy>Wheat</Allergy>
	</Event>
	<Event ID="Event02">
		<MenuSet>MenuSet00</MenuSet>
		<KitchenTimer>3</KitchenTimer>
		<CustomerSet>CustomerSet00</CustomerSet>
		<CustomerTimer>0.7</CustomerTimer>
		<DayLength>72</DayLength>
		<Allergy>Dairy</Allergy>
	</Event>
	<Event ID="Event03">
		<MenuSet>MenuSet00</MenuSet>
		<KitchenTimer>5</KitchenTimer>
		<CustomerSet>CustomerSet00</CustomerSet>
		<CustomerTimer>0.7</CustomerTimer>
		<DayLength>72</DayLength>
		<Allergy>None</Allergy>
	</Event>
	<Event ID="Event04">
		<MenuSet>MenuSet00</MenuSet>
		<KitchenTimer>6.5</KitchenTimer>
		<CustomerSet>CustomerSet00</CustomerSet>
		<CustomerTimer>2</CustomerTimer>
		<DayLength>72</DayLength>
		<Allergy>None</Allergy>
	</Event>
</Events>

